body {padding: 0;
      margin: 0;
}
.container {margin: 0 15%;
}
header {display: flex;
        margin: 0 15%;
}
header h1 {color: pink;
           font-weight: bold;
           font-size: 36px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1 span {color: lightblue;
}
.logo, nav {flex: 1;
}
nav ul {display: flex;
        justify-content: space-around;
}
nav ul li {font-family: 'Courier New', Courier, monospace;
           color: lightblue;
           list-style: none;
           font-size: 20px;
           margin-top: 20px;
}
.section-one {background-image: url(/images/EKDZMd.jpg);
              height: 80vh;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 100%;
}
.section-one .content {width: 100%;
                       height: 100%;
                       background-color: rgba(0, 0, 0, 0.7);
                       text-align: center;
                       color: white;
}
.section-one .content h1 {color: lightblue;
                          font-weight: bold;
                          font-family: Arial, Helvetica, sans-serif;
                          font-size: 84px;
                          padding-top: 12%;
}
.section-one .content p {font-size: 24px;
                         line-height: 36px;
                         margin-top: -60px;
}
.section-one .content button {background-color: lightblue;
                              color: white;
                              border: none;
                              width: 150px;
                              height: 50px;
                              border-radius: 2px;
                              margin-top: 5px;
                              font-size: 18px;
}

#head {text-align: center;
}
.section-two {display: flex;}
.section-two .part {flex: 1;
}
.section-two input,
.section-two textarea  {margin-top: 10px;
                          width: 80%;
                          border: none;
                          border-bottom: 1px solid #777;
                          outline: none;
                          font-size: 12px;
}
.section-two input:hover,
.section-two input:focus {border-bottom: 2px solid lightblue;
}
#submit-btn {width: 100px;
             height: 35px;
             color: white;
             background-color: lightblue;
             border-radius: 50px;
}
.section-two h2 {color: lightblue;
                   font-weight: bold;
}
.section-two li {list-style: none;
}
.section-two #contact-icons,
.section-two #socialMedia-icons {margin-left: -20px;
} 
.section-two #contact-icons li i {margin-right: 20px;
                                  font-size: 20px;
                                  color: lightblue;
                                  line-height: 36px;
}
.section-two #socialMedia-icons {display: flex;
                                 justify-content: space-between;
                                 width: 50%;
}
.section-two #socialMedia-icons li i {width: 50px;
                                      height: 50px;
                                      border-radius: 50%;
                                      background-color: unset;
                                      border: 1px solid lightblue;
                                      color: lightblue;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      font-size: 24px;
}
.section-two #socialMedia-icons li i:hover {background-color: lightblue;
                                            border: none;
                                            color: white;
}

.section-three .header h2 {text-align: center;
                           font-size: 36px;
                           color: pink;
}
.section-three .header h2::before, 
.section-three .header h2::after {content: '';
                                  width: 400px;
                                  height: 2px;
                                  background-color: lightblue;
                                  position: absolute;
}
.section-three .header h2::before {margin: 23px -450px;
}
.section-three .header h2::after {margin: 23px 40px;
}
#map {height: 400px;
      width: 100%;
}



@media(max-width: 1350px) {
    nav {flex: 2;
    }
    nav ul li {font-size: 18px;
               margin-top: 25px;
    }
    .section-three .header h2::before, 
    .section-three .header h2::after {width: 300px;
    }
    .section-three .header h2::before {margin: 23px -330px;
    }
    .section-three .header h2::after {margin: 23px 30px;
    }
    .section-two #socialMedia-icons {width: 70%;
    }
}

@media(max-width: 875px) {
    header, .container {margin: 0 5%;
    }
    .section-one {height: 60vh;
    }
    .section-one .content h1 {font-size: 64px;
                              padding-top: 18%;
    }
    .section-one .content p {font-size: 18px;
                             line-height: 26px;
                             margin-top: -50px;
    }
    .section-one .content button {margin-top: unset;
    }
    .section-two #socialMedia-icons {width: 70%;
    }
    .section-two p {font-size: 14px;
    }
    .section-three .header h2::before, 
    .section-three .header h2::after {width: 200px;
    }
    .section-three .header h2::before {margin: 23px -230px;
    }
    .section-three .header h2::after {margin: 23px 30px;
    }
    .section-two #socialMedia-icons li i {width: 40px;
                                          height: 40px;
                                          font-size: 18px;
    }
}

@media(max-width: 625px) {
    .section-one .content h1 {padding-top: 25%;
    }
    header {margin: -10px 5%;
    }
    nav {display: none;
    }
    .section-one .content h1 {font-size: 40px;
    }
    .section-one .content p {font-size: 11px;
                             line-height: 14px;
                             margin-top: -30px;
    }
    .section-one .content button {width: 90px;
                                  height: 35px;
                                  font-size: 14px;
    }
    .section-two {flex-wrap: wrap;
    }
    .section-three .header h2 {font-size: 24px;
    }
    .section-three .header h2::before, 
    .section-three .header h2::after {width: 80px;
    }
    .section-three .header h2::before {margin: 15px -90px;
    }
    .section-three .header h2::after {margin: 15px 10px;
    }
}
