nav {
	padding: 2% 5%;
	overflow: hidden;
	background-color: var(--blue);
}
nav h2 {
	display: inline;
	font-size: clamp(1em, 1.5em, 3em);
}

nav #menu-icon,
nav #close-icon {
	display: none;
	float: right;
	margin-top: 3%;
	cursor: pointer;
}

nav ul {
	width: 50%;
	float: right;
}

nav ul a {
	text-decoration: none;
	color: inherit;
}

nav ul a li {
	float: left;
	width: 25%;
	margin: 0;
	text-align: center;
	list-style: none;
}


@media (max-width: 767px) {
	nav ul {
		float: none;
		display: grid;
		place-items: center;
		width: 100%;
		height: 0;
	}
	
	nav ul a li {
		display: block;
		float: none;
		width: 100%;
	}
	nav #menu-icon {
		display: block;
	}
}